!!!
%html.h-100.w-100
  %head
    %meta{charset: 'utf-8'}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no'}/
    %title Ho.me
    - @stylesheets.each do |s|
      %link{:href => s, :rel => "stylesheet"}/
    - @scripts.each do |s|
      %script{:src => s }
  %body.bg-light.h-100.w-100.p-0.m-0
    = yield
