#map.position-absolute.sidebar-compact.header-hidden

#header.position-absolute.top-0.sidebar-compact.header-hidden
  #stats

#places-app{'v-cloak': 'v-cloak'}
  #sidebar.position-absolute.start-0.top-0.h-100.d-flex.flex-column.sidebar-compact
    .tools.mx-1.mt-1.d-grid.gap-1
      %button.btn.btn-no-focus{type: 'button', '@Click' => 'toggleDepositMode();', ':class' => '{"btn-primary": mode == "depositPlace", "btn-secondary": mode != "depositPlace"}'}
        %span.material-icons.material-icon-link{style: 'vertical-align: middle;'} {{ mode == "depositPlace" ? 'cancel' : 'add_location_alt' }}
        {{ mode == "depositPlace" ? 'Click on the map or cancel' : 'Create new place' }}
      %button.btn.btn-no-focus{type: 'button', '@Click' => 'toggleMovable();', ':class' => '{"btn-primary": mode == "editLocation", "btn-secondary": mode != "editLocation"}'}
        %span.material-icons.material-icon-link{style: 'vertical-align: middle;'} {{ mode == "editLocation" ? 'cancel' : 'zoom_out_map' }}
        {{ mode == "editLocation" ? 'Disable location edition' : 'Enable location edition' }}

    %div#scrollable-place-list.start-0.top-0.h-100.w-100.overflow-auto
      %table.table{style: 'table-layout: fixed;'}
        %thead.d-sidebar-large
          %tr.user-select-none
            %th{style: 'width:2em;' }
            %th.d-sidebar-large.sortable{'@click' => 'toggleSort("type")', ':class' => '{"unsorted": unsorted("type"), "asc": ascSorted("type"), "desc": descSorted("type")}'} Type
            %th.d-sidebar-compact Name
            %th.d-sidebar-large.sortable{'@click' => 'toggleSort("surf")', ':class' => '{"unsorted": unsorted("surf"), "asc": ascSorted("surf"), "desc": descSorted("surf")}'} Surf.
            %th.d-sidebar-large.sortable{'@click' => 'toggleSort("price")', ':class' => '{"unsorted": unsorted("price"), "asc": ascSorted("price"), "desc": descSorted("price")}'} €
            %th.d-sidebar-large.sortable{'@click' => 'toggleSort("sprice")', ':class' => '{"unsorted": unsorted("sprice"), "asc": ascSorted("sprice"), "desc": descSorted("sprice")}'} €/m²
            %th.d-sidebar-large.text-center{ style: 'width:3em;' } URL
            %th{style: 'width:2.5em;' }
          %tr{style: 'border-bottom-width: 0;'}
            %th
            %th.d-sidebar-large
              .input-group
                %input.form-control{type: 'text', ':value' => 'this.filter_types.join(", ")', disabled: true}
                %button.btn.btn-secondary.dropdown-toggle#dropdownTypes{type: 'button', 'data-bs-toggle' => 'dropdown'}
                %ul.dropdown-menu.checkbox-menu#types-filter
                  %li{'v-for' => 't in place_types', ':key' => 't.name'}
                    %label{':for' => 't.abbr + "_type_filter"', '@click.stop': true}
                      %input{':id' => 't.abbr + "_type_filter"', type: 'checkbox', 'v-model'=> 'filter_types', ':value' => 't.abbr'}
                      {{ t.name }}
            %th.d-sidebar-compact
            %th.d-sidebar-large
              .input-group
                %input.form-control{type: "text", placeholder:"Min", 'v-model.number': 'filter_surface_min'}
                %input.form-control{type: "text", placeholder:"Max", 'v-model.number': 'filter_surface_max'}
                %button.btn.btn-secondary{type: 'button', '@click' => 'filter_surface_min = filter_surface_max = undefined'} &times;
            %th.d-sidebar-large
              .input-group
                %input.form-control{type: "text", placeholder:"Min", 'v-model.number': 'filter_price_min'}
                %input.form-control{type: "text", placeholder:"Max", 'v-model.number': 'filter_price_max'}
                %button.btn.btn-secondary{type: 'button', '@click' => 'filter_price_min = filter_price_max = undefined'} &times;
            %th.d-sidebar-large
              .input-group
                %input.form-control{type: "text", placeholder:"Min", 'v-model.number': 'filter_sprice_min'}
                %input.form-control{type: "text", placeholder:"Max", 'v-model.number': 'filter_sprice_max'}
                %button.btn.btn-secondary{type: 'button', '@click' => 'filter_sprice_min = filter_sprice_max = undefined'} &times;
            %th.d-sidebar-large
            %th
          %tr
            %td
              %input#master-checkbox.form-check-input{type: 'checkbox', '@click': 'applyGlobalSelection($event)'}
            %td{colspan: 6}
              %div.text-center
                .btn-group{role: 'group'}
                  %input.btn-check#filter-unsold{type: 'checkbox', 'v-model' => 'filter_unsold'}
                  %label.btn.btn-outline-secondary{for: 'filter-unsold'} Unsold
                  %input.btn-check#filter-sold{type: 'checkbox', 'v-model' => 'filter_sold'}
                  %label.btn.btn-outline-secondary{for: 'filter-sold'} Sold
                &nbsp;
                .btn-group{role: 'group'}
                  %input.btn-check#filter-constructed{type: 'checkbox', 'v-model' => 'filter_constructed'}
                  %label.btn.btn-outline-secondary{for: 'filter-constructed'} Constructed
                  %input.btn-check#filter-in-construction{type: 'checkbox', 'v-model' => 'filter_in_construction'}
                  %label.btn.btn-outline-secondary{for: 'filter-in-construction'} In construction
        %tbody
          %tr{'v-for' => 'e in filteredAndOrderedPlaces', ':key' => 'e.id', ':id' => '"place" + e.id', ':class' => '{"table-primary": e.selected, "strikeout": e.sold, "italic": e.future}', '@click' => 'selectedPlace = e'}
            %td{ style: 'width:2em;'}
              %input.form-check-input{type: 'checkbox', v: {model: 'e.visible'}}
            %td.d-sidebar-large
              %span {{ e.type.abbr }}
            %td.d-sidebar-compact
              %span {{ title(e) }}
            %td.d-sidebar-large
              %span{'v-if' => 'e.surface'} {{ `${e.surface}m²` }}
            %td.d-sidebar-large
              %span{'v-if' => 'e.price'} {{ `${e.price}k` }}
            %td.d-sidebar-large
              %span{'v-if' => 'e.price && e.surface'} {{ `${pricePerSq(e)}&nbsp;€/m²` }}
            %td.d-sidebar-large.text-center{style: 'width:3em;'}
              %a.material-icons.material-icons-link{':href' => 'e.url', 'v-if' => 'e.url'} link
            %td{style: 'width:2.5em;' }
              %a.material-icons.material-icons-link.float-end{'@Click' => 'edit(e)', 'v-if' => 'e.selected'} edit

  #sidebar-control.position-absolute.top-0.sidebar-compact.header-hidden
    %button.btn.material-icons.btn-no-focus.d-block.square-corner{'@click' => 'toggleChart()', ':class' => '{"btn-primary": headerMode == "header-visible"}'} analytics
    %button.btn.material-icons.btn-no-focus.d-block.square-corner{'@click' => 'toggleCompactSidebar()', ':class' => '{"btn-primary": sidebarMode == "sidebar-compact"}'} list
    %button.btn.material-icons.btn-no-focus.d-block.square-corner{'@click' => 'toggleLargeSidebar()', ':class' => '{"btn-primary": sidebarMode == "sidebar-large"}'} view_list

  #placeEditModal.modal.fade
    .modal-dialog.modal-fullscreen
      .modal-content
        %form
          .modal-header
            %h5.modal-title Edit place
            %button.btn-close{type: 'button', '@click' => 'discardForm()'}
          .modal-body
            .mb-3
              %label.form-label{for: 'type'} Type
              %select.form-select#type{name: 'type', 'v-model' => 'formModel.type_id'}
                %option{'v-for' => 't in place_types', ':value' => 't.id'} {{ t.name }}
            .mb-3
              %label.form-label{for: 'title'} Title
              %input.form-control#title{type: 'text', name: 'title', 'v-model' => 'formModel.title'}
            .mb-3
              %label.form-label{for: 'surface'} Surface
              %input.form-control#surface{type: 'text', name: 'surface', 'v-model.number' => 'formModel.surface'}
            .mb-3
              %label.form-label{for: 'price'} Price
              %input.form-control#price{type: 'text', name: 'price', 'v-model.number' => 'formModel.price'}
            .mb-3
              %label.form-label{for: 'description'} Description
              %textarea.form-control#description{name: 'description', 'v-model' => 'formModel.description'}
            .mb-3
              %label.form-label{for: 'url'} URL
              %input.form-control#url{type: 'text', name: 'url', 'v-model' => 'formModel.url'}
            .form-check.mb-3
              %label.form-label{for: 'sold'} Sold
              %input.form-check-input#sold{type: 'checkbox', name: 'sold', 'v-model' => 'formModel.sold'}
            .form-check.mb-3
              %label.form-label{for: 'future'} In construction
              %input.form-check-input#future{type: 'checkbox', name: 'future', 'v-model' => 'formModel.future'}
          .modal-footer
            %button.btn.btn-secondary{type: 'button', '@click' => 'discardForm()'} Cancel
            %button.btn.btn-primary{type: 'button', '@click' => 'commit()'} Save

:javascript
  jQuery(document).ready(function($){
    window.map = initMap(#{settings.map_url.dump()}, #{settings.map_attribution.dump()});
    window.chart = initPriceChart("stats");

    let baseurl = `${location.protocol}//${location.host}${location.pathname}`;
    window.placesVM = buildPlacesApp(baseurl, map, chart);
  });
